<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<div class="container-fluid">
  <div class="row">
    <img class="img-responsive col-xs-6" height="max-height/2" src="{{__dirname}}/images/cards/{{value1}}_of_{{suit1}}.svg" alt="card1" />
      <img class="img-responsive col-xs-6" height="max-height/2" src="{{__dirname}}/images/cards/{{value2}}_of_{{suit2}}.svg" alt="card2" />
  </div>
</div>
{{!--<h1>{{card1}} - {{card2}}</h1>--}}