{{!--need to loop this puppy into existence--}}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<div class="container-fluid">
  <div class="row">
    {{getCardImage (getCardNumber i 0) "125px"}}
    {{getCardImage (getCardNumber i 1) "125px"}}
  </div>

  <div class="row">
    {{getCardImage 20 "50px"}}
    {{getCardImage 21 "50px"}}
    {{getCardImage 22 "50px"}}
    {{getCardImage 23 "50px"}}
    {{getCardImage 24 "50px"}}
  </div>

  <div class="row">
    <h2 style="color:red">{{getRank i}}</h2>
    <h3>Ranking:</h3>
    <p id="10">Royal Flush</p>
    <p id="9">Straight Flush</p>
    <p id="8">Four of a Kind</p>
    <p id="7">Full House</p>
    <p id="6">Flush</p>
    <p id="5">Straight</p>
    <p id="4">Three of a Kind</p>
    <p id="3">Two Pair</p>
    <p id="2">Pair</p>
    <p id="1">High Card</p>
  </div>
</div>