<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<div class="container-fluid">
  <div class="row">
    {{getCardImage 0 "40%"}}
    {{getCardImage 1 "40%"}}
  </div>

  <div class="row">
    {{getCardImage 2 "16%"}}
    {{getCardImage 3 "16%"}}
    {{getCardImage 4 "16%"}}
    {{getCardImage 5 "16%"}}
    {{getCardImage 6 "16%"}}
  </div>
</div>